<html>
    <h1><a style="color:black; text-align:center; background-color:lightblue; font-size:25px; font-family: monospace; margin-left:100px; margin-right:100px; margin-top:90px; margin-bottom:50px" href="{% url 'djangoapp:index' %}">Homepage</a></h1>
    <h1><a style="color:black; text-align:center; background-color:lightblue; font-family: monospace; margin-left:100px; margin-right:100px" href="{% url 'djangoapp:index' %}"> Welcome! </a></h1>
        <div style="color:black; font-size: 20px; font-family:monospace; font-weight: 500; text-align:left; margin-left:100px; margin-right:100px; margin-top:10px; margin-bottom:100px">
            <p>
            Welcome to Best Cars Dealership, home to the best cars 
            in North America. We sell domestic and imported cars at 
            reasonable prices.
            </p>
        </br>
        <p><a style="color:black; background-color:lightblue; font-weight:bold; font-family: monospace; text-align:center" href="{% url 'djangoapp:contact' %}">Thank you for visiting!</a></p>
        </div>
</html>
