<div class="container">
    <h1><a style="color:black; text-align:center; background-color:lightblue; font-size:25px; font-family: monospace; margin-left:100px; margin-right:100px; margin-top:90px; margin-bottom:50px" href="{% url 'djangoapp:index' %}">Homepage</a></h1>
    <h2 class="heading-txt" style="font-size:30px; color:black; background-color:lightblue; font-family: monospace; margin-right:100px; margin-left:100px; text-align: center;">Information</h2>
    <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="font-family: monospace; font-size:20px">Address</div>
        <div class="card-body">
            <h5 class="card-title" style="font-family: monospace; font-size:15px"> 123 Made-Up St. </br> Universe, Ethereal 00011 </h5>
        </div>
    </div>
            <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="font-family: monospace; font-size:20px">Phone Number</div>
        <div class="card-body">
            <h5 class="card-title" style="font-family: monospace; font-size:15px">(111) 222-3333</h5>
        </div>
    </div>
            <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="font-family: monospace; font-size:20px">E-Mail</div>
        <div class="card-body">
            <h5 class="card-title" style="font-family: monospace; font-size:15px">made-up_universe@ethereal.com</h5>
        </div>
    </div>
    </div>
</div>
